@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bitter:ital,wght@0,100..900;1,100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Germania+One&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+NZ+Basic:wght@100..400&family=Quicksand:wght@300..700&family=Quintessential&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Share+Tech&family=Signika:wght@300..700&family=Suwannaphum:wght@100;300;400;700;900&family=UnifrakturMaguntia&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    font-family: "Iosevka Charon Mono", monospace;

}
.container{
    width: 100%;
    height: 100vh;
    & .header{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        padding: 0px 15px;
        place-items: center;
        & .logo{
            padding-left: 20px;
            & h1{
                font-size: 40px;
                color: black;
            }
        }
        & ul{
            display: flex;
            gap: 80px;
            & li,a{
                list-style: none;
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 15px;
            }
        }
        & .icon{
            font-size: 15px;
            padding-right: 20px;
            & p{
                position: absolute;
                right: 30px;
                top: 20px;
                width: 15px;
                height: 15px;
                border-radius: 50px;
                font-size: 10px;
                background-color: black;
                color: white;
                padding: 2px;
                padding-top: 1px;
            }
        }
    }
    & main{
        height: 90vh;
        width: 100%;
        /* position: relative; */
        & .bg-img{
            width: 100%;
            height: 100%;
            background-image: url(https://i.pinimg.com/1200x/8e/5e/0d/8e5e0d4f7c7f40a4a0f7928a35112aaa.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        } 
        & .pic{
            width: auto;
            height: auto;
            position: absolute;
            top: 13%;
            left: 5%;
            & #bg-image{
                width: 500px;
                height: 700px;
            }
        }
        & .text{
            width: auto;
            height: auto;
            position: absolute;
            top: 40%;
            right: 30%;
            place-items: center;
            & h4{
                font-size: 25px;
            }
            & h1{
                font-size: 50px;
            }
            & h5{
                font-size: 20px;
            }
            & button{
                background-color: white;
                color: black;
                border: 1px solid black;
                border-radius: 5px;
                width: 170px;
                height: 30px;
                font-weight: bold;
                position: absolute;
                bottom: -40%;
                right: 20%;
            }
            & button:hover{
                background-color: rgb(117, 117, 123);
                transition: 0.4s all;
            }
        }
    }
}
.content{
    width: 100%;
    height: 100vh;
    & .title{
        width: auto;
        height: auto;
        place-items: center;
        & h2{
            font-size: 30px;
        }
        & p{
            font-weight: bold;
        }
        & h3{
            font-size: 15px;
        }
    }
    & .box-content{
        width: 100%;
        height: 100%;
        padding-top: 40px;
        /* background-color: rgb(45, 108, 246); */
        display: grid;
        grid-template-columns: repeat(5,auto);
        gap: 60px;
        border-radius: 10px;
        & .box{
            width: 100%;
            height: 100%;
            background-color: rgb(6, 166, 252);
            place-items: center;
            place-content: center;
            border-radius: 10px;
        }
        & .box-1{
            width: auto;
            height: auto;
            & .box:nth-child(1){
                background-image: url(https://i.pinimg.com/736x/bd/26/20/bd2620096cbdb5a1076510bd5fc6032b.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            & h3,p{
                text-align: center;
                padding-top: 5px;
            }
        }
        & .box-2{
            width: auto;
            height: auto;
            & .box:nth-child(1){
                background-image: url(https://i.pinimg.com/736x/69/19/e9/6919e997511c096629dcfe2e15f3a4f8.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            & h3,p{
                text-align: center;
                padding-top: 5px;
            }
        }
        & .box-3{
            width: auto;
            height: auto;
            & .box:nth-child(1){
                background-image: url(https://i.pinimg.com/736x/19/bb/cf/19bbcf7f03ee4452d081b22bf05cdad9.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            & h3,p{
                text-align: center;
                padding-top: 5px;
            }
        }
        & .box-4{
            width: auto;
            height: auto;
            & .box:nth-child(1){
                background-image: url(https://i.pinimg.com/736x/5f/11/f5/5f11f5a525047d3b9ef584f931c6f074.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            & h3,p{
                text-align: center;
                padding-top: 5px;
            }
        }
        & .box-5{
            width: auto;
            height: auto;
            & .box:nth-child(1){
                background-image: url(https://i.pinimg.com/736x/a2/ec/05/a2ec056d4e14add4b5dc248f61c949d0.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            & h3,p{
                text-align: center;
                padding-top: 5px;
            }
        }
        & .box-6{
            width: auto;
            height: auto;
            & .box:nth-child(1){
                background-image: url(https://i.pinimg.com/736x/04/c4/9e/04c49e9ab610ea4b016782858bebdfa3.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            & h3,p{
                text-align: center;
                padding-top: 5px;
            }
        }
        & .box-7{
            width: auto;
            height: auto;
            & .box:nth-child(1){
                background-image: url(https://i.pinimg.com/736x/a8/ce/a2/a8cea213a99434b446b1de3d609c83af.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            & h3,p{
                text-align: center;
                padding-top: 5px;
            }
        }
        & .box-8{
            width: auto;
            height: auto;
            & .box:nth-child(1){
                background-image: url(https://i.pinimg.com/736x/2b/c2/28/2bc228d9531d351f832e7e71c44e4ce0.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            & h3,p{
                text-align: center;
                padding-top: 5px;
            }
        }
        & .box-9{
            width: auto;
            height: auto;
            & .box:nth-child(1){
                background-image: url(https://i.pinimg.com/1200x/0a/cf/53/0acf53d9503fa521d9bd3652875dd9e7.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            & h3,p{
                text-align: center;
                padding-top: 5px;
            }
        }
        & .box-10{
            width: auto;
            height: auto;
            & .box:nth-child(1){
                background-image: url(https://i.pinimg.com/736x/fc/45/39/fc453953ed6123ff7f0ea6f4aa68da45.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            & h3,p{
                text-align: center;
                padding-top: 5px;
            }
        }

    }
}
